name: Build

on:
  push:
  pull_request:
  release:    
    types: [published,edited]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Get the sources
        uses: actions/checkout@v4

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Install .NET Core SDK 8.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Run Cake script
        run: dotnet run build.cs --verbosity=diagnostic --target=Default
        env: 
          sonarLogin: ${{ secrets.sonarLogin }}
          nugetApiKey: ${{ secrets.nugetApiKey }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
